/* Foto Profil */
.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* Highlight Stories */
.highlight-circle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
}

.highlight-circle img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* Efek hover */
.highlight-circle:hover {
  transform: scale(1.1);
  border-color: #f71212;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.highlight-circle:hover img {
  transform: scale(1.05);
}

/* Gallery Postingan */
.gallery-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
.gallery-img:hover {
  transform: scale(1.05);
}
